<p id="notice"><%= notice %></p>

<p>
  <strong>Offurn:</strong>
  <%= @offexp.offurn %>
</p>

<p>
  <strong>Ofstat:</strong>
  <%= @offexp.ofstat %>
</p>

<p>
  <strong>Offpp:</strong>
  <%= @offexp.offpp %>
</p>

<p>
  <strong>Offtbill:</strong>
  <%= @offexp.offtbill %>
</p>

<p>
  <strong>Offintbill:</strong>
  <%= @offexp.offintbill %>
</p>

<p>
  <strong>Offroomrent:</strong>
  <%= @offexp.offroomrent %>
</p>

<p>
  <strong>Offrent:</strong>
  <%= @offexp.offrent %>
</p>

<p>
  <strong>Offren:</strong>
  <%= @offexp.offren %>
</p>

<p>
  <strong>Offspfee:</strong>
  <%= @offexp.offspfee %>
</p>

<p>
  <strong>Offstfsal:</strong>
  <%= @offexp.offstfsal %>
</p>

<p>
  <strong>Offstvimed:</strong>
  <%= @offexp.offstvimed %>
</p>

<%= link_to 'Edit', edit_offexp_path(@offexp) %> |
<%= link_to 'Back', offexps_path %>
