<p id="notice"><%= notice %></p>

<p>
  <strong>Clientname:</strong>
  <%= @paymentreceife.clientname %>
</p>

<p>
  <strong>Clientcom:</strong>
  <%= @paymentreceife.clientcom %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @paymentreceife.desc %>
</p>

<p>
  <strong>Invoiceno:</strong>
  <%= @paymentreceife.invoiceno %>
</p>

<p>
  <strong>Invdate:</strong>
  <%= @paymentreceife.invdate %>
</p>

<p>
  <strong>Cbendamt:</strong>
  <%= @paymentreceife.cbendamt %>
</p>

<p>
  <strong>Chequen:</strong>
  <%= @paymentreceife.chequen %>
</p>

<p>
  <strong>Chqdet:</strong>
  <%= @paymentreceife.chqdet %>
</p>

<p>
  <strong>Pocbendamt:</strong>
  <%= @paymentreceife.pocbendamt %>
</p>

<%= link_to 'Edit', edit_paymentreceife_path(@paymentreceife) %> |
<%= link_to 'Back', paymentreceives_path %>
