<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :tokeno, "Token number" %><br>
    <%= f.text_field :tokeno %>
  </div>
  <div class="field">
    <%= f.label :exrelno %><br>
    <%= f.text_field :exrelno %>
  </div>
  <div class="field">
    <%= f.label :contno %><br>
    <%= f.text_field :contno %>
  </div>
  <div class="field">
    <%= f.label :custno %><br>
    <%= f.text_field :custno %>
  </div>
  <div class="field">
    <%= f.label :delito %><br>
    <%= f.text_field :delito %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :custinc %><br>
    <%= f.number_field :custinc %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :tollcharge %><br>
    <%= f.number_field :tollcharge %>
  </div>
  <div class="field">
    <%= f.label :tokencharge %><br>
    <%= f.number_field :tokencharge %>
  </div>
  <div class="field">
    <%= f.label :detcharge %><br>
    <%= f.number_field :detcharge %>
  </div>
  <div class="field">
    <%= f.label :triprent %><br>
    <%= f.number_field :triprent %>
  </div>
  <div class="field">
    <%= f.label :triptotamt %><br>
    <%= f.number_field :triptotamt %>
  </div>
  <div class="field">
    <%= f.label :drivname %><br>
    <%= f.text_field :drivname %>
  </div>
  <div class="field">
    <%= f.label :driverbata %><br>
    <%= f.number_field :driverbata %>
  </div>
  <div class="field">
    <%= f.label :wghmntbata %><br>
    <%= f.number_field :wghmntbata %>
  </div>
  <div class="field">
    <%= f.label :custbata %><br>
    <%= f.number_field :custbata %>
  </div>
  <div class="field">
    <%= f.label :pocdrivbata %><br>
    <%= f.number_field :pocdrivbata %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
