<p id="notice"><%= notice %></p>

<p>
  <strong>Tokeno:</strong>
  <%= @status.tokeno %>
</p>

<p>
  <strong>Exrelno:</strong>
  <%= @status.exrelno %>
</p>

<p>
  <strong>Contno:</strong>
  <%= @status.contno %>
</p>

<p>
  <strong>Custno:</strong>
  <%= @status.custno %>
</p>

<p>
  <strong>Delito:</strong>
  <%= @status.delito %>
</p>

<p>
  <strong>Type:</strong>
  <%= @status.type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @status.size %>
</p>

<p>
  <strong>Custinc:</strong>
  <%= @status.custinc %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @status.weight %>
</p>

<p>
  <strong>Tollcharge:</strong>
  <%= @status.tollcharge %>
</p>

<p>
  <strong>Tokencharge:</strong>
  <%= @status.tokencharge %>
</p>

<p>
  <strong>Detcharge:</strong>
  <%= @status.detcharge %>
</p>

<p>
  <strong>Triprent:</strong>
  <%= @status.triprent %>
</p>

<p>
  <strong>Triptotamt:</strong>
  <%= @status.triptotamt %>
</p>

<p>
  <strong>Drivname:</strong>
  <%= @status.drivname %>
</p>

<p>
  <strong>Driverbata:</strong>
  <%= @status.driverbata %>
</p>

<p>
  <strong>Wghmntbata:</strong>
  <%= @status.wghmntbata %>
</p>

<p>
  <strong>Custbata:</strong>
  <%= @status.custbata %>
</p>

<p>
  <strong>Pocdrivbata:</strong>
  <%= @status.pocdrivbata %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
