<p id="notice"><%= notice %></p>

<p>
  <strong>Trailorno:</strong>
  <%= @trailor.trailorno %>
</p>

<p>
  <strong>Truckno:</strong>
  <%= @trailor.truckno %>
</p>

<p>
  <strong>Containerno:</strong>
  <%= @trailor.containerno %>
</p>

<p>
  <strong>Datetimeval:</strong>
  <%= @trailor.datetimeval %>
</p>

<p>
  <strong>Exportcoff:</strong>
  <%= @trailor.exportcoff %>
</p>

<%= link_to 'Edit', edit_trailor_path(@trailor) %> |
<%= link_to 'Back', trailors_path %>
